/* @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Comfortaa:wght@700&family=Poppins:wght@100&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
} */

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}

